<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- 以上全局配置文件代码是通过mybatis官方文档中Getting Started第一个示例复制的 -->
  <configuration>
  	<settings>
  	<!-- 驼峰命名规则 -->
  		<setting name="mapUnderscoreToCamelCase" value="true"/> 	
  	</settings>

  	<!-- 起别名 -->
  	<typeAliases>
  		<package name="com.atguigu.crud.bean"/>
  	</typeAliases>
  	<!-- 通过官方文档知道如何配置，分页插件 -->
  	<plugins>
  		<plugin interceptor="com.github.pagehelper.PageInterceptor">
  		<!-- 让分页参数合理化,默认值为false -->
  		<property name="reasonable" value="true"/>
  		</plugin>
  	</plugins>
  </configuration>